/** Reset defaults */
.bt-widget {
  border-radius: 0;
  outline: none;
  border: none;
  font-size: 1rem;

  &.disabled {
    opacity: 0.8;
    cursor: default;
    user-select: none;
    pointer-events: none;
  }
}
