@import '_widget';
@import 'button';
@import 'input';
@import 'avatar';

html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: $root-font-size;
  background-color: $color-background;
  margin: 0;
  padding: 0;
  color: $color-text;
}
